* {
  background-color: #f8fafc;
  color: #145069;
}

* {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}   

img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Lato", serif;
  font-size: 40px;
  color: #e4a78c;
  position: relative;
  font-weight: 600;
  text-align: center;
}

h2 {
font-weight: 500;
font-size: 24px;
color: #525252;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

#About {
  text-align: center;
  word-wrap: normal;
  padding: 5px 0px;
  margin: 2px;
}

#Experience {
  text-align: center;
  list-style-type: square;
  padding: 5px 0px;
  margin: 2px;
}

#Connect {
  text-align: center;
  padding: 5px 0px;
  margin: 2px;
}





