body {
  background-color: #ffffff;
  color: #145069;
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  margin: 0;
}   

img {
  margin-top: 20px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px #78848f solid;
  border-radius: 7px;
}

h1 {
  font-family: "Lato", serif;
  font-size: 40px;
  color: #733b73;
  position: relative;
  font-weight: 600;
  text-align: center;
}

h2 {
font-weight: 500;
font-size: 24px;
color: #525252;
text-align: center;
}

#About {
  padding: 10px 0;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 1%; 
  font-size: 18px;
  border: 2px #78848f solid;
  border-radius: 7px;
}

#Experience {
  text-align: center;
  padding: 10px 0;
  margin: auto;
  margin-bottom: 1%;
  width: 500px;
  border: 2px #78848f solid;
  border-radius: 7px;
}

#Connect {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
  margin-bottom: 1%; 
  border: 2px #78848f solid;
  border-radius: 7px;
}

.topnav {
  top: 0;
  letter-spacing: .5px;
  padding: 10px;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  margin-right: 1%; 
}


#Skills {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
  margin-bottom: 1%; 
  border: 2px #78848f solid;
  border-radius: 7px;
}

.allskills {
 display: flex;
 flex-direction: column;
}


ul {
  list-style-type: none;
  text-align: center;
  padding: 10px 0;
}

#Projects {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
  margin-bottom: 1%; 
  border: 2px #78848f solid;
  border-radius: 7px;
}

.allexperience {
  display: flex;
  flex-direction: column;
}

.eachexperience_item {
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.allconnect {
  display: flex;
  flex-direction: column;
}

.eachconnect_item {
  align-self: center;
}

#messageform {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
  margin-top: 1%; 
  border: 2px #78848f solid;
  border-radius: 7px;
}

#messages {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
  margin-top: 1%; 
  border: 2px #78848f solid;
  border-radius: 7px;
}


button {
  background-color: #daa1da;
  border-radius: 3px;
}

.copyright {
  text-align: right;
}

.hidden {
  display: none;
}


/*----Tablet Queries----*/
@media (max-width: 700px) {
  body {
    background:#f8fafc;
  }
  img {
    width: 100px;
  }
  h1 {
    font-size: 20px;
    font-style: italic;
  }
  h2 {
    font-size: 12px;
  }
}

  /*----Phone Queries----*/

@media (max-width: 425px) {
  body {
    background:#f8fafc;
    max-width: 425px;
  }
  img {
    margin: auto;
  }
  h1 {
    font-size: 18px;
    font-style: italic;
  }
  h2 {
    font-size: 12px;
  }
  #About, #Experience, #Skills, #Projects, #Connect, #messageform, #messages {
    max-width: 420px;
  }
  a {
    margin-right: 2%; 
  }
}

@media (max-width: 320px) {
  body {
    background:#f8fafc;
    max-width: 320px;
  }
  img {
    margin: auto;
  }
  h1 {
    font-size: 20px;
    font-style: italic;
  }
  h2 {
    font-size: 14px;
  }
  #About, #Experience, .eachexperience_item, #Skills, #Projects, #Connect, #messageform, #messages {
    max-width: 300px;
    font-size: 14px;
  }

  a {
    margin-right: 2%; 
  }
}