body {
  background-color: #f8fafc;
  color: #145069;
}

body {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}   

img {
  margin-top: 20px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Lato", serif;
  font-size: 40px;
  color: #733b73;
  position: relative;
  font-weight: 600;
  text-align: center;
}

h2 {
font-weight: 500;
font-size: 24px;
color: #525252;
}

/*ul {
  padding-left: 0;
  list-style-position: inside;
}*/

#About {
  padding: 10px 0;
  width: 500px;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

#Experience {
  text-align: center;
  padding: 10px 0;
  margin: auto;
  width: 500px;
}

#Connect {
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin: auto;
}

/* Changes from last week - removed since I no longer have the list
#Experience li {
  list-style-type: square;
  padding: 5px;
  background-color: #dab1da;
}
*/

.topnav {
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
}

#Skills {
  padding: 10px 0;
  text-align: center;
}

#Projects {
  padding: 10px 0;
  text-align: center;
}

.allexperience {
  display: flex;
}

.eachexperience {
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
}

.allconnect {
  display: flex;
}

.eachconnect {
  margin: 0 10px;
  align-items: center;
}

